<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End Point 5 - Plantilla</title>
</head>
<body>
    <form action="/endpoint6" method="POST">
        <div><label for="nombreusuari">Nombre: </label><input type="text" name="nombreusuari" id="nombre"></div>
        <div><label for="edadusuari">Edad: </label><input type="text" name="edadusuari" id="edad"></div>
        <div><input type="submit" value="Enviar"></input></div>
    </form>
</body>
</html>