<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"EndPoint Formulario - Projecte SNMP - Ferran&Sergi"</title>
</head>
<body>

    <form action="/endpoint00" method="POST">
        <div><label for="version">Version: </label><input type="text" name="version" id="nombre"></div>
        <div><label for="rocommunity">ReadOnly Code: </label><input type="text" name="rocommunity" id="readonly"></div>
        <div><label for="agent">Agent: </label><input type="text" name="agent" id="agent"></div>
        <div><label for="mib">MIB: </label><input type="text" name="mib" id="mib"></div>
        <div><label for="oid">OID: </label><input type="text" name="oid" id="oid"></div>
        <div><input type="submit" value="Enviar"></input></div>
    </form>

</body>
</html>